pipeline/AirPollutionDataPipeline.json
{
	"name": "AirPollutionDataPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetAPIKey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://phs-ds587-keyvault.vault.azure.net/secrets/APIKey?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Copy Historical Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetAPIKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "RestResource2",
						"type": "DatasetReference",
						"parameters": {
							"start": "@activity('GetAPIKey').output.value"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AirPollutionjson",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": []
	}
}